.container {
    width: 50vw;
    height: 40vh;
    min-height: 500px;
    min-width: 482px;
    background-color: $containerColor;
    margin-top: 2rem;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    &-slider {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
    }
}
.container-başlık {
    display: flex;
    justify-content: center;
    img {
        width: 200px;
    }
}